.error{
    width: 100%;
    
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span{
        font-size: 100px;
    padding-top: 20px;
    }

    p{
       
    }
}