/* ========== Глобальные переменные ========== */
@import "../../../styles/variables.scss";

.table-order{


    &__row{

        @include flexbox-center;
        justify-content: space-between;

        border: 1px solid $color-border;
        border-top: none;
        
    }

    &__row > &__cell{
        padding: 10px 0;
        font-weight: 400;

    }
    &__row > .name{
        padding-left: 10px;
        justify-content: flex-start;
        

    }

}