/* ========== Глобальные переменные ========== */
@import "../../styles/variables.scss";


.cart-btn{
   
    @include flexbox-center;

    &__icon{
        width: 30px;
        height: 30px;

        margin-right: 20px;
        transition: 0.2s;
        
        svg{
            width: inherit;
            height: inherit;
        }
    }

    &__icon:hover{
        svg{
            fill: #fff;
        }
    }


    &__total{
        font-size: 28px;
        font-weight: 700;
        color: $color-dark;;
    }
}