/* ========== Обнуляющие стили ========== */
@import "normalize";
@import "nullstyle";


/* ========== Подключение шрифтов ========== */
@font-face { 
    font-family: "SFProDisplay Regular";
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype"); /* все современные браузеры */
}
@font-face { 
    font-family: "SFProDisplay Medium";
    src: url("../fonts/SFProDisplay-Medium.ttf") format("truetype"); /* все современные браузеры */
}
@font-face { 
    font-family: "SFProDisplay Semibold";
    src: url("../fonts/SFProDisplay-Semibold.ttf") format("truetype"); /* все современные браузеры */
}


/* ========== Глобальные переменные ========== */
@import "variables";

/* ========== Глобальные стили ========== */
@import "global";




