/* ========== Глобальные переменные ========== */
@import "../../styles/variables.scss";


.header {

    width: 100%;
    min-height: 100px;

    padding: 10px 20px;

    @include flexbox-center;
    justify-content: space-between;

    background-color: $bg-color-header;
    color: $color-white;
    font-size: 28px;

    &__title {
        flex: 1 0 60%;
        font-size: 40px;
        cursor: pointer;
    }

    &__button {
        flex: 1 0 40%;
    }
}
